.wall{
    .wall-img{
        background-image: url(../img/Rectangle-6.png);
        width: 100%;
        height: 570px;
        background-position: center center;
    }
}

.wrapper{
    .Get-in-Touch{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        @media screen and (max-width:1200px){
            width: 90%;
            margin: 0 auto;
            margin-top: 50px;
        }
        @media screen and (max-width:800px){
            grid-template-columns: 1fr;
        }
        .left-part{
            margin-right: 50px;
            width: 555px;
            @media screen and (max-width:1200px){
                width: auto;
            }
            @media screen and (max-width:800px){
                grid-row: 1 / 2;
            }
            h3{
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 40px;
                color: var(--dark-500);
                line-height: 135%;
                margin-bottom: 10px;
            }
            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: var(--gray-500);
                line-height: 135%;
            }
            .Location,
            .Telefon,
            .Links{
                display: grid;
                grid-template-columns: 56px 1fr;
                grid-row: 23px 26px;
                column-gap: 16px;
                margin-top: 30px;
                padding-bottom: 20px;
                border-bottom: 1px solid var(--gray-gray-200);
                .logo{
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                    background-color: var(--primary-primary-50) ;
                    border-radius: 10px;
                    width: 40px;
                    height: 56px;
                    align-content: center;
                    padding-left: 16px;
                }
                h4{
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--gray-500);
                    line-height: 135%;
                    align-content: center;
                }
                p{
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    color: var(--dark-500);
                    line-height: 135%;
                    align-content: center;
                }
                .links{
                    display: flex;
                    gap: 16px;
                    align-items: center;
                }
            }
        }
        .right-part{
            border-left: 1px solid var(--gray-gray-200);
            @media screen and (max-width:800px){
                grid-row: 2 / 3;
                border-left: 0;
                margin-top: 50px;
            }
            .form{
                background-color: (--white-500);
                margin-left: 50px;
                width: 484px;
                @media screen and (max-width:1200px){
                    width: auto;
                }
                @media screen and (max-width:800px){
                    margin-left: 0;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    width: 444px;
                    margin-left: 20px;
                    @media screen and (max-width:1200px){
                        width: auto;
                    }
                    @media screen and (max-width:800px){
                        margin-left: 0;
                    }
                    label{
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 12px;
                        color: var(--dark-500);
                        margin-bottom: 5px;
                    }
                    input{
                        margin-bottom: 20px;
                        padding-left: 16px;
                        border: 1px solid var(--gray-gray-200);
                        border-radius: 10px;
                        width: 424.4px;
                        height: 56px;
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--gray-500);
                        @media screen and (max-width:1200px){
                            width: auto;
                        }
                    }
                    textarea{
                        width: 424.4px;
                        height: 86px;
                        border: 1px solid var(--gray-gray-200);
                        border-radius: 10px;
                        padding-left: 16px;
                        padding-top: 16px;
                        margin-bottom: 30px;
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--gray-gray-800);
                        @media screen and (max-width:1200px){
                            width: auto;
                        }
                    }
                    .submit{
                        background-color: var(--primary-500);
                        width: 424.4px;
                        height: 56px;
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--white-500);
                        @media screen and (max-width:1200px){
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}