footer{
    background-color: var(--primary-500);
    .top-footer{
        margin-top: 100px;
        padding-top: 30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        gap:30px;
        @media screen and (max-width:1200px){
            margin-left: 50px;
            margin-right: 50px;
        }
        @media screen and (max-width:850px){
            grid-template-columns: 1fr 1fr;
            margin-left: 50px;
            margin-right: 50px;
            row-gap: 50px;
        }
        .left-footer{
            @media screen and (max-width:650px){
            grid-column: 1/3;
        }
            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: var(--white-500);
                max-width: 326px;
                margin-top: 20px;
                margin-right: 50px;
                @media screen and (max-width:650px){
                    margin-right: 0;
                }
            }
        }
        .about,
        .service,
        .our-location{
            p{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 18px;
                color: var(--white-500);
                line-height: 140%;
                margin-bottom: 4px;
            }
            ul{
                li{
                    a{
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--white-500);
                        text-decoration: none;
                        line-height: 250%;
                    }
                }
            }  
            span{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: var(--white-500);
            }
        }
        .our-location{
        @media screen and (max-width:650px){
            grid-column: 1/3;
        }
            p{
                margin-bottom: 20px;
            }
            .logo{
                display: flex;
                gap:16px;
                margin-top: 16px;
                .facebook,
                .twitter,
                .linkedin{
                    border-radius: 40px;
                    width: 48px;
                    height: 48px;
                    background-color: var(--white-500);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        max-width: 100%; 
                        max-height: 100%;     
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .bottom-footer{
        border-top: 1px solid var(--white-white-800);;
        display: flex;
        align-items: center;
        @media screen and (max-width:1200px){
            margin-left: 50px;
            margin-right: 50px;
        }
        @media screen and (max-width:650px){
            gap:30px;  
        }
        @media screen and (max-width:500px){
            display: grid;
            grid-template-columns: 1fr;
            gap:0;  
        }
        p{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: var(--white-500);
            line-height: 135%;
            margin-top: 20px;
            margin-bottom: 30px;
            @media screen and (max-width:500px){
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
        p:nth-child(2){
            margin-left:auto;
            margin-right: 50px;
            @media screen and (max-width:650px){
                margin-right: 0;
                margin-left: 0;  
            }
        }
    }
}