.first-container {
    header{
        display: grid;
        grid-template-columns: 147px 1fr 98px;
        grid-template-rows: 100px;
        align-items: center;
        column-gap: 186px;
        @media screen and (max-width:1180px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 70px;
            align-items: center;
            width: 90%;
            margin:0 auto;
        }
        @media screen and (max-width:700px){
            column-gap: 5%;
        }
        .menu{
            @media screen and (max-width:1180px) {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
            }
            ul{
            display: grid;
            grid-template-columns: repeat(6, auto);
            gap: 30px;
            align-items: center;
            justify-items: center;
            @media screen and (max-width:700px){
                display: flex;
                background-color: rgba(0, 0, 0, 0.5);
                height: 100vh;
                width: 100%;
                position: fixed;
                top: 0;
                left: -100%;
                z-index: 10;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                transition: 1s;
                &.mobile-active{
                    left: 0;
                }
            }
            li{
                a{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    text-align: center;
                    color: var(--dark-500);
                    text-decoration: none;
                    @media screen and (max-width:700px){
                        color: var(--white-500);
                        font-size: 30px;
                    }
                }
                &.close{
                    @media screen and (max-width:700px){
                        display: block;
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        font-size: 30px;
                        cursor: pointer;
                        color: var(--white-500);
                    }
                }
            }
        }
    }
        .burger{
            display: none;
            @media screen and (max-width:700px) {
                display: block;
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                justify-self: end;
            }
        }
        .login-btn{
            border-radius: 10px;
            width: 98px;
            height: 50px;
            background-color: var(--primary-500);
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:1180px){
                justify-self: end;
                margin-left: 0;
            }
            a{
                text-decoration: none;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: var(--white-500);
            }
        }
    }
}