.wall{
    .wall-img{
        background-image: url(../img/Rectangle\ 6.2.png);
        width: 100%;
        height: 570px;
        background-position: center center;
    }
}

.third-container{
    background-color: var(--gray-gray-50);
    .cards-part{
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(2, 588px);
        gap: 30px;
        justify-content: center;
        padding-top: 50px;
        @media screen and (max-width:1200px){
            grid-template-columns: repeat(2, 360px);
            grid-template-rows: repeat(auto, 588px);
            gap: 30px;
        }
        @media screen and (max-width:800px){
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto, 588px);
            gap: 30px;
        }
        .appartment-card{
            border-radius: 16px;
            width: 360px;
            height: 588px;
            background-color: var(--white-500);
            @media screen and (max-width:800px){
                min-width: 60%;
                margin: 0 auto;
            }
            @media screen and (max-width:400px){
                width: 95%;
            }
            .apartment-image{
                border-radius: 12px;
                width: 326px;
                height: 266px;
                position: relative;
                padding-top: 20px;
                margin-left: 16px;
                @media screen and (max-width:800px){
                    margin: 0 auto;
                }
                @media screen and (max-width:400px){
                    width: 95%;
                    height: auto;
                }
                img{
                    @media screen and (max-width:400px){
                    width: 100%;
                    height: auto;
                    }
                }
                .like-btn{
                    position: absolute;
                    top: 35px;
                    right: 16px;
                    border-radius: 5px;
                    width: 32px;
                    height: 32px;
                    background: var(--white-white-800);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .apartment-info{
                margin-left: 20px;
                @media screen and (max-width:400px){
                    margin-top: 8px;
                }
                .apartment-main{
                h3{
                        font-family: var(--second-family);
                        font-weight: 700;
                        font-size: 24px;
                        color: var(--dark-500);
                        margin-top: 16px;
                        margin-bottom: 10px;
                        line-height: 135%;
                        display: inline-block;
                        min-height: 65px;
                        width: 90%;
                    }
                    span{
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 20px;
                        color: var(--dark-500);
                    }
                    p{
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--gray-500);
                        margin-top: 10px;
                        line-height: 135%;
                    }
                    .apartment-add{
                        margin-top: 16px;
                        display: flex;
                        gap: 20px;
                        span{
                            margin-left: 10px;
                            font-family: var(--font-family);
                            font-weight: 400;
                            font-size: 16px;
                            color: var(--dark-500);
                        }
                    }
                }
            }
            .footer-card{
                margin-left: 20px;
                margin-top: 16px;
                padding-top: 16px;
                display: flex;
                align-items: center;
                gap: 10px;
                border-top: 1px solid var(--gray-gray-200);
                width: 320px;
                @media screen and (max-width:800px){
                    width: 90%;
                    margin: 0 auto;
                    margin-left: 20px;
                    margin-top: 16px;
                }
                h5{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--dark-500);
                    display: inline-block;
                    width: 140px;
                }
                .btn{
                    border: 1px solid var(--gray-gray-200);
                    border-radius: 5px;
                    width: 34px;
                    height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}