.wall{
    position: relative;
    .wall-img{
        background-image: url(../img/Rectangle-6.png);
        width: 100%;
        height: 570px;
        background-position: center center;
    }
    .caption{
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2{
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 60px;
            text-align: center;
            color: var(--white-500);
            line-height: 135%;
        }
        p{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            color: var(--white-500);
            line-height: 135%;
            text-align: center;
        }
    }
}

.second-container-2{
    .info{
        margin-top: 50px;
        margin-bottom: 100px;
        @media screen and (max-width:1200px) {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
        .head-content{
            margin-bottom: 50px;
            h3{
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 40px;
                color: var(--dark-500);
                line-height: 130%;
                display: inline-block;
                width: 60%;
                @media screen and (max-width:980px){
                    width: auto;   
                }
                @media screen and (max-width:575px){
                    font-size: 30px;
                }
            }
            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: var(--gray-500);
                line-height: 130%;
                padding-top: 10px;
                width: 60%;
                @media screen and (max-width:980px){
                    width: auto;   
                }
            }
        }
        .bottom-content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 162px 162px;
            gap: 30px;
            @media screen and (max-width:850px){
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }
            .advantage{
                border-bottom: 1px solid var(--gray-gray-200);
                .logo{
                    border-radius: 10px;
                    width: 50px;
                    height: 50px;
                    background-color: var(--primary-primary-50);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                h5{
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 20px;
                    color: var(--dark-500);
                    line-height: 140%;
                    margin-top: 16px;
                    margin-bottom: 5px;
                }
                p{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--gray-500);
                    line-height: 140%;
                    margin-bottom: 20px;
                    display: inline-block;
                    width: 445px;
                    @media screen and (max-width:1200px){
                        width: 99%;
                    }
                }
            }
        }
    }
    .video {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 1200px) {
            width: 90%;
            margin: 0 auto;
        }
    }
    .projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-top: 100px;
        @media screen and (max-width:1200px){
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
        @media screen and (max-width:1000px){
            position: relative;
            display: block;
        }
        .left-pic{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            align-items: center;
            @media screen and (max-width:1000px){
                justify-items: center;
            }
            @media screen and (max-width:600px){
                display: none;
            }
            img{
                @media screen and (max-width:1000px){
                    width: 80%;
                    height: auto;
                }
            }
        }
        .right-content{
            h3{
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 40px;
                color: var(--dark-500);
                line-height: 135%;
                display: inline-block;
                width: 300px;
                margin-bottom: 20px;
                @media screen and (max-width:600px){
                    font-size: 30px;
                    width: auto;
                }
            }
            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: var(--gray-500);
                line-height: 135%;
                @media screen and (max-width:1000px){
                    width: 75%;
                }
                @media screen and (max-width:600px){
                    width: 100%;
                }
            }
            .btn{
                display: flex;
                gap:20px;
                margin-top: 50px;
                .left-btn,
                .right-btn{
                    justify-content: center;
                    border-radius: 10px;
                    width: 56px;
                    height: 56px;
                    background-color: var(--primary-500);
                    display: flex;
                    align-items: center;
                    color: var(--white-500);
                }
            }
        }
    }
}

.agents-container{
    background-color: var(--gray-gray-50);
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 100px;
}

footer{
    background-color: var(--primary-500);
    .top-footer{
        margin-top: 100px;
        padding-top: 30px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        gap:30px;
        @media screen and (max-width:1200px){
            margin-left: 50px;
            margin-right: 50px;
        }
        @media screen and (max-width:850px){
            grid-template-columns: 1fr 1fr;
            margin-left: 50px;
            margin-right: 50px;
            row-gap: 50px;
        }
        .left-footer{
            @media screen and (max-width:650px){
            grid-column: 1/3;
        }
            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: var(--white-500);
                max-width: 326px;
                margin-top: 20px;
                margin-right: 50px;
                @media screen and (max-width:650px){
                    margin-right: 0;
                }
            }
        }
        .about,
        .service,
        .our-location{
            p{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 18px;
                color: var(--white-500);
                line-height: 140%;
                margin-bottom: 4px;
            }
            ul{
                li{
                    a{
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--white-500);
                        text-decoration: none;
                        line-height: 250%;
                    }
                }
            }  
            span{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: var(--white-500);
            }
        }
        .our-location{
        @media screen and (max-width:650px){
            grid-column: 1/3;
        }
            p{
                margin-bottom: 20px;
            }
            .logo{
                display: flex;
                gap:16px;
                margin-top: 16px;
                .facebook,
                .twitter,
                .linkedin{
                    border-radius: 40px;
                    width: 48px;
                    height: 48px;
                    background-color: var(--white-500);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        max-width: 100%; 
                        max-height: 100%;     
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .bottom-footer{
        border-top: 1px solid var(--white-white-800);;
        display: flex;
        align-items: center;
        @media screen and (max-width:1200px){
            margin-left: 50px;
            margin-right: 50px;
        }
        @media screen and (max-width:650px){
            gap:30px;  
        }
        @media screen and (max-width:500px){
            display: grid;
            grid-template-columns: 1fr;
            gap:0;  
        }
        p{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: var(--white-500);
            line-height: 135%;
            margin-top: 20px;
            margin-bottom: 30px;
            @media screen and (max-width:500px){
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
        p:nth-child(2){
            margin-left:auto;
            margin-right: 50px;
            @media screen and (max-width:650px){
                margin-right: 0;
                margin-left: 0;  
            }
        }
    }
}